@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
}

#copyright-a {
  text-decoration: none;
}

.circle-image {
  border-radius: 100%;
}

#brandimage {
  border-radius:100%;
}

.threedotseparator {
    display: inline-block;
    width: 180px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

/* Modify the default bootstrap settings */
.navbar-nav {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

.card-title {
  font-size: 1.25em;
  font-weight: bold;
}

@media screen and (max-width: 4096px) {
  .card {
    width: 20rem;
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 10rem;
  }
}